/*Barra de navegacion*/
.navbar{
    padding: .2rem;
}
.navbar-collapse{
    align-items: center;
    justify-content: space-between;
}
.verde{
    color: green;
}

/*Section Oradores*/
.oradores{
    margin-top: 10px;
}

.javascript{
    background-color: yellow;
    border-radius: 5px;
    padding: 1px;
}

.react{
    background-color: #12D5D5;
    border-radius: 5px;
    padding: 1px;
    color: white;
}

/*Responsive*/
@media screen and (max-width: 991px){
    .navbar-brand{
        display: none;
    }
    .card{
        font-size: 60%;
    }
}